<app-header></app-header>

<form #accountForm="ngForm" (ngSubmit)="updateAccount(accountForm)">
  <mat-form-field>
      <input matInput placeholder="Account number" value="{{defaultAccount}}">
  </mat-form-field>
</form>

<mat-accordion *ngFor="let txt of transactions | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="badge-txt badge-txt-{{txt.type}}">
                {{typeToLabel(txt.type) }}
            </span>
        </mat-panel-title>
        <mat-panel-description>
            $ {{txt.amount}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>$ {{txt.amount}}</p>

    </mat-expansion-panel>
</mat-accordion>
<app-footer></app-footer>

<router-outlet></router-outlet>
